extends layout
block content
 h1= title
 if (toShow == null)
   h2 No instance to update
 else
  - let ornamentsid = toShow._id
  - let material = toShow.material
  - let style = toShow.style
  - let price = toShow.price

  div.row(class='mb-2')
   div.mr-1 ID is
   div #{ornamentsid}
  - let actionid = "/resource/ornaments/" + ornamentsid
  form(id='ornamentsForm', action= actionid, method="PUT")
   div.form-group
     label.ornamentsAttr(for='material') Ornament type
     input#material(type='text', name='material', value= material )
   div.form-group
     label.ornamentsAttr(for='style') Ornament Style
     input#style(type='text', name='style', value= style )
   div.form-group
     label.ornamentsAttr(for='price') Ornament Price
     input#price(type='number', name='price', value= price )
   input(type="submit")
  script.
   document.forms['ornamentsForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
      method: 'PUT',
      body: new URLSearchParams(new FormData(event.target)) // event.target is the form
     }).then((resp) => {
      return resp.json(); // or resp.text() or whatever the server sends
     }).then((body) => {
      alert("Update succeded")
      // TODO handle body
    }).catch((error) => {
     // TODO handle error
     alert("Update failed " + error )
    });
   ``});